flush ruleset

# a common table for both IPv4 and IPv6
table inet mytable {

    set LANv4 {
	type ipv4_addr
	flags interval

	elements = { 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16, 169.254.0.0/16 }
    }
    set LANv6 {
	type ipv6_addr
	flags interval

	elements = { fd00::/8, fe80::/10 }
    }

{% if nftables_allowed_protocols | length > 0 %}
    set allowed_protocols {
	type inet_proto
	elements = { {{ nftables_allowed_protocols | join(', ') }} }
    }
{% endif %}

    set allowed_interfaces {
	type ifname
	elements = { "lo" }
    }

{% if nftables_allowed_tcp_dports | length > 0 %}
    set allowed_tcp_dports {
	type inet_service
	elements = { {{ nftables_allowed_tcp_dports | join(', ') }} }
    }
{% endif %}

{% if nftables_allowed_udp_dports | length > 0 %}
    set allowed_udp_dports {
	type inet_service
	elements = { {{ nftables_allowed_udp_dports | join(', ') }} }
    }
{% endif %}

    # base-chain for traffic to this host (inbound)
    chain myinput {
	type filter hook input priority filter
	policy drop

	ct state invalid drop
	# accept traffic originated from us
	ct state established,related accept

{% if nftables_allowed_protocols | length > 0 %}
	meta l4proto @allowed_protocols accept
{% endif %}
	iifname @allowed_interfaces accept
{% if nftables_allowed_tcp_dports | length > 0 %}
	tcp dport @allowed_tcp_dports accept
{% endif %}
{% if nftables_allowed_udp_dports | length > 0 %}
	udp dport @allowed_udp_dports accept
{% endif %}

	ip6 saddr @LANv6 udp sport 1900 udp dport >= 1024 meta pkttype unicast limit rate 4/second burst 20 packets accept comment "Accept UPnP IGD port mapping reply"
	ip saddr @LANv4 udp sport 1900 udp dport >= 1024 meta pkttype unicast limit rate 4/second burst 20 packets accept comment "Accept UPnP IGD port mapping reply"

	reject with icmpx type port-unreachable
    }

    chain myforward {
	type filter hook forward priority filter
	policy drop
	# Drop everything forwarded to us. We do not forward. That is routers job.
    }

    # base-chain for traffic from this host (outbound)
    chain myoutput{
	type filter hook output priority filter
	policy accept
	# accept everything outbound
    }
}
